<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .color1{
            background-color: red;
            width:10rem;
            height:10rem;
        }
        .color2{
            background-color: blue;
            width:10rem;
            height:10rem;
        }



    </style>

    
    <table>
        {% for i in range(6) %}

        <tr>
            {% for j in range(6)%}
            <td  class="color{{(i+j)%2+1}}"></td>
            {% endfor%}
        </tr>
        {% endfor %}
    </table>
</body>
</html>



